.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.title_name {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
}

.title_link {
  text-decoration: none;
}

.title_favorites {
  text-decoration: none;
  padding-right: 20px;
}
